{% extends "base.html" %}

{% block content %}
    <div class="container">
        <h3>Devices</h3>
        <ul class="collection">
            <li class="collection-item avatar">
                <i class="material-icons circle">perm_device_information</i>
                <span class="title">AntMinner1</span>
                <p id="device-ip">24.147.228.182<br>
                <a href="#!" class="secondary-content"><i class="material-icons">info</i></a>
            </li>
        </ul>
    </div>
{% endblock %}